{% extends "registration/login_register_base.html" %}
{% load static %}
{% load placeholder %}
{% block title %} {{ "Восстановление пароля" }} {% endblock %}
{% block main %}

    {% if validlink %}
        <div class="main-side__form">
            <h1>Пожалуйста, введите новый пароль и подтвердите его</h1>
            <form action="" method="POST" id="user-inputs-form">
                {% csrf_token %}
                {{ form.new_password1 | placeholder:"Придумайте пароль" }}
                {{ form.new_password2 | placeholder:"Повторите пароль" }}
                {{ form.new_password1.errors }}
                {{ form.new_password2.errors }}
            </form>
        </div>
        <div class="main-side__button">
            <a href="{% url 'login' %}">
                <button type="submit" form="user-inputs-form">Подтвердить</button>
            </a>
        </div>
    {% else %}
        <h1>К сожалению, что-то пошло не так. Похоже на то, что ссылка для сброса неактивна или уже была использована.
            Пожалуйста, попробуйте снова.</h1>
    {% endif %}

{% endblock %}
