{% extends "registration/login_register_base.html" %}
{% load static %}
{% load placeholder %}
{% block title %} {{ "Восстановление пароля" }} {% endblock %}
{% block main %}
    <div class="main-side__form">
        <h1>Восстановление пароля</h1>
        <p>Введите E-mail адрес, на который был зарегистрирован аккаунт, на него будут отправлены инструкции по сбросу пароля</p>
        <form action="" method="POST" id="user-inputs-form">
            {% csrf_token %}
            {{ form.email }}
        </form>
        <div class="main-side__button">
            <button type="submit" form="user-inputs-form">Далее</button>
        </div>
    </div>

{% endblock %}