input#username {
    background-image: url("../img/username.svg");
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 20px;
    /* Extra Styling */
    padding: 5px 3px;
    transition: 0.3s;
}

input#username:focus {
    background-image:none;
    text-indent:0px
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.form-content {
    max-width: 47%;
    width: 100%;
    height: 100%;
    background-color: #624DE3;
}

h1 {
    margin-top: 150px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    text-align: center;
}


.form-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-content input {
    height: 80px;
    width: 470px;
    border-radius: 5px;
    margin-top: 15px;
}


.aside {
    max-width: 53%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #303060;

}

.aside__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

